/*
* Folha de estilos
* corpo do texto
*/

body {
	color: #000000;
	background-color: #b0fffb;
	}

p {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-align: justify;
	}

table {
	background-color: #D0EFFF;
	text-align: left;
	}

.tabela {
	border-top-width: thick;
	border-left-width: thick;
	border-bottom-width: thin;
	border-right-width: thin;
	border-style: inset;
	border-color: red;
}

caption {
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #000000;
	text-align: center;
	}

tr {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	text-align: left;
	}

th {
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #000000;
	background-color: #E7E1AE;
	text-align: center;
	}

td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	text-align: left;
	}

h1 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16pt;
	text-align: center;
	color: #000000;
	background-color: #E7E1AE;
}

h2 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16pt;
	text-align: center;
	color: #000000;
	background-color: #E7E1AE;
}

.cabecalho {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	color: #000000;
	background-color: #E7E1AE;
}

.ultima_linha {
    text-align: center;
    }

.coluna_centralizada {
	text-align: center;
    }

.botao {
	text-align: center;
	font-weight: bold;
	width: 80px;
	background-color: #E7E1AE;
    	border-width: thick;
	border-style: outset;
    }

.rodape {
	font-weight: bold;
	color: #000000;
	background-color: #E7E1AE;
	text-align: center;
    }

#resaltado {
	background-color: #DDDDDD;
    }

#natural {
	background-color: #D0EFFF;
    }
