/*
* Folha de estilos
* corpo do texto
*/

body {
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: medium;
	line-height: 120%;
	color: #000000;
	background-color: #b0fffb;
	margin: 10px
	}

p {
	font-size: 90%;
	text-indent: 3em;
	text-align: justify;
	}

h1 {
	font-size: 14px;
	font-weight: bold;
	background-color: #e7e1ae;
	text-align: center;
	}

.corpo {
	width: 750px;
	}

.acima {
	position: relative;
	width: 700px;
	height: 50px;
	}

.centro {
	position: relative;
	width: 700px;
	}

.links {
	width: 150px;
	float: left;
	}

table {
	font-size: 110%;
	background-color: #D0EFFF;
	text-align: left;
	}

caption {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	}

tr {
	background-color: #D0EFFF;
	text-align: left;
	}

th {
	font-weight: bold;
	background-color: #E7E1AE;
	text-align: center;
	}

td {
	font-size: 80%;
	text-align: left;
	}

#navegacao {
	font-size: 10%;
	padding: 3px;
}

.ultima_linha {
	text-align: center;
	}

.coluna_centralizada {
	text-align: center;
	}

.coluna_direita {
	text-align: right;
	}

.rodape {
	font-weight: bold;
	background-color: #E7E1AE;
	text-align: center;
	}

.botao {
	text-align: center;
	font-weight: bold;
	width: 80px;
	background-color: #E7E1AE;
	border-width: thick;
	border-style: outset;
	}
