/*
* Folha de estilos
* background-color: #DAA6A6;
*/

body {
	color: #000000;
	background-color: #b0fffb;
	}

p {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	text-align: justify;
	}

#small {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	text-align: justify;
	color: #000000;
	}

table {
	background-color: #D0EFFF;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	}

td {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	padding: 8px;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	border-style: outset;
	border-color: #000000;
	border-width: 2px;
	}

hr {
	background-color: #FF0000;
	width: 150px;
	height: 5px;
	}

.coluna_centralizada {
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;
	}

a:link {
	color: #001CFF;
	}
	
a:visited {
	color: #1AAB0D;
	}

a:active {
	color: #010101;
	}

a:hover {
	color: #ADFF2F;
    }

/*
* Fim da folha de estilos
*/
